
BlumBlumShub/bin/Debug/BlumBlumShub.exe
BlumBlumShub/bin/Debug/BlumBlumShub.exe.config
BlumBlumShub/bin/Debug/BlumBlumShub.pdb
BlumBlumShub/BlumBlumShub.csproj
BlumBlumShub/obj/Debug/BlumBlumShub.csproj.CoreCompileInputs.cache
BlumBlumShub/obj/Debug/BlumBlumShub.csproj.FileListAbsolute.txt
BlumBlumShub/obj/Debug/BlumBlumShub.csprojAssemblyReference.cache
BlumBlumShub/obj/Debug/BlumBlumShub.exe
BlumBlumShub/obj/Debug/BlumBlumShub.pdb
BlumBlumShub/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
BlumBlumShub/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
BlumBlumShub/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
BlumBlumShub/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
